<div class="card ">
    <div class="card-header text-white bg-primary">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="firstNameInput">First Name:</label>
                <input [(ngModel)]="name" name="name" type="firstName" class="form-control" id="firstNameInput">
            </div>
            <div class="form-group">
                <label for="lastNameInput">Last Name:</label>
                <input [(ngModel)]="lastName" name="lastName" type="lastName" class="form-control" id="lastNameInput">
            </div>
            <div class="form-group">
                <label for="emailInput">Email:</label>
                <input [(ngModel)]="email" name="email" type="email" class="form-control" id="emailInput">
            </div>
            <div class="form-group">
                <label for="phoneInput">Phone:</label>
                <input [(ngModel)]="phone" name="phone" type="phone" class="form-control" id="phoneInput">
            </div>   
            <div class="form-group">
                <label for="commentInput">Comments:</label>
                <textarea [(ngModel)]="comments" name="comments" type="comment" class="form-control" rows="3" id="commentInput"></textarea>
            </div>   
            <div class="text-center">
                <button (click)="addSlot()" class="btn bg-success text-white" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="card-footer bg-light">
        <button type="button" class="btn btn-primary" (click)="onBack()" type="submit">
            <span octicon="chevron-left" fill="white" width="10" height="20"></span> Back
        </button>
    </div>
</div>
