<div class="card ">
    <div class="card-header text-white bg-primary">
        {{pageTitle}}
    </div>
    <div class="card-body text-center">
        <p class="card-text">Please choose an available date:</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="bg-success text-white">
                        <th class="navigation" (click)="getDate(false)">
                            <a><span octicon="chevron-left" fill="white" width="10" height="20"></span></a>
                        </th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                        <th class="navigation" (click)="getDate(true)">
                            <a><span octicon="chevron-right" fill="white" width="10" height="20"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of scheduler.WeekHours">
                        <td></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Monday | convertToTimeFormat}}</a></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Tuesday | convertToTimeFormat}}</a></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Wednesday | convertToTimeFormat}}</a></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Thursday | convertToTimeFormat}}</a></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Friday | convertToTimeFormat}}</a></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Saturday | convertToTimeFormat}}</a></td>
                        <td><a [routerLink]="['/form', scheduler.Facility.FacilityId]">{{item.Sunday | convertToTimeFormat}}</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
</div>